/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
#logo{
background-color:white;
float:left;
width:260px;/* 260/996*/
height:246px;/**/
font-family: 'Haettenschweiler';
position:absolute;
left:34px;
top:0px;
z-index:+1;
}
h1, h2{
font-family: 'Haettenschweiler';
}
p{
font-family:'Arial';
}
#topdateslink{
width:288px;
position:absolute;
left:39px;
top:158px;
z-index:+2;
} 
#tracklink{
width:300px;
height:40px;
position:absolute;
left:39px;/*1px;*/
top:198px;/**/
z-index:+2;
}
#menu li{
list-style-type:none;
font-family: 'Haettenschweiler';
display:inline;
text-decoration:none;
padding:5px;
}
#menu{
width:700px;/* 70.281124497992%/996*/
height:45px;/* 2.647058823529%;/1700*/
margin-left:300px;
margin-right:auto;
background-color:rgba(255, 255, 255, .5);
float:right;
}
#menu a{
text-decoration:none;
}
#menu ul li a:link		{
				color:#000000;/*black*/
						}
				a:visited{
				color:#accfcc;/*blue*/
						}
				a:hover{
				color:#accfcc;/*blue*/
					}
				a:active{
				color:#accfcc;/*blue*/
					}
#container{
width:996px;/*100%*/
height:1700px;/*100%*/
}
#content{
width:600px;
height:950px;
margin-left:300px;
margin-right:auto;
display:box;
box-pack:center;
box-align:center;
}
#voucher{
position:absolute;
left:937px;
top:598px;
z-index:+2;
float:right;
}
#videopreview{
position:absolute;
left:933px;
top:363px;
z-index:+2;
width:200px;
height:200px;
float:right;
}
#toyota{
position:absolute;
left:9px;
top:362px;
z-index:+2;
width:278px;
height:171px;
}
#simulatorbanner{
width:996px;
height:270px;
border:1px solid black;
}
#banner{
width:996px;
height:280px;
}
#bottomlinks{
position:absolute;
left:9px;
top:1293px;
z-index:-1;
}
#giftcertificates a:link {
width:238px;
height:180px;
position:absolute;
left:94px;
top:1294px;
z-index:0;
}
#available a:link {
width:238px;
height:180px;
position:absolute;
left:400px;
top:1291px;
z-index:0;
}
#testimonials a:link {
width:238px;
height:180px;
position:absolute;
left:702px;
top:1291px;
z-index:0;
}
#booklink{
position:absolute;
left:47px;
top:600px;
z-index:+2;
width:200px;
height:200px;
}
#callsign{
position:absolute;
left:840px;
top:19px;
z-index:+2;
}
#form{
background-color:#b8ae9c;
}
/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/